<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
    <property name="hibernate.connection.url">jdbc:sqlserver://FTP-DUCHE;databaseName=PortalProvNac</property>
<!--    <property name="hibernate.connection.url">jdbc:sqlserver://192.168.0.11;databaseName=PortalProvNac</property>-->
    <property name="hibernate.connection.username">sa</property>
    <property name="hibernate.connection.password">vxml}}2014</property>
<!--    <property name="hibernate.connection.password">dmsis2019*#</property>-->
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
    <property name="hibernate.show_sql">false</property>
    <property name="hibernate.format_sql">true</property>
    <mapping resource="dmsistemas/com/model/FacturaGastos.hbm.xml"/>
    <mapping resource="dmsistemas/com/model/Factura.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
